<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav">
        <li *ngIf="loggedUser" routerLinkActive="active"><a routerLink="recipes">Recipes</a>
        </li>
        <li *ngIf="!loggedUser" routerLinkActive="active"><a routerLink="auth">Authenticate</a>
        </li>
        <li *ngIf="loggedUser" routerLinkActive="active"><a routerLink="shopping">Shopping List</a></li>
      </ul>
      <ul class="navbar-nav nav navbar-right">
        <li *ngIf="loggedUser"><a appCursorPointer (click)="onLogout()">Logout</a></li>
        <li *ngIf="loggedUser" class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button" style="cursor: pointer;">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
